body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #fff;
    background-size: cover ;
    
}

.box{

    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%) ;
    width: 400px;
    /* height: 40px; */
    padding: 40px;
    background: rgba(0, 0, 0, .8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;
   
}

.box h2{
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
}
.box .inputBox{
    position: relative;
}
.box .inputBox input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: seashell;
    margin-bottom: 30px;
    
    border:none; /*mất cái đường viền khung đăng nhập màu trắng */
    border-bottom: 1px solid #fff;
    /*Hai dòng này lun đi chung với nhau */

    outline: none;
    background: transparent;/*mất cái thanh màu trắng để đăng nhập */
}
.box .inputBox label{
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: seashell;
    pointer-events: none;
    transition: .5s;
}
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label{
    top: -20px;
    left:0;
    color: crimson;
    font-size: 12px;
}
.box input[type="submit"]{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}
.box input[type="submit"]:hover{
    color: #fff;
    background: crimson;
    border-radius: 20px;
}
