.content{
    position: relative;
    border:1px solid #000000;
    width:65%;
    height: 80%;
    padding-top: 50px;
    margin-left:18%;
    margin-bottom:20%;
    background-origin: padding-box;
}