body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow: scroll;
}

input[type="checkbox"] {
    position: fixed;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 50px;
    z-index: 100000;
    cursor: pointer;
    /*hover vào để chuột thay đổi cái checkbox*/
    opacity: 0;
    /*làm mất cái hộp check*/
}

.icon {
    position: fixed;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 50px;
    z-index: 100001;
    pointer-events: none;
    /*không cho nó check box */
    background: black;
}

.icon:before {
    content: 'Close';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    font-weight: 700;
}

input[type="checkbox"]:checked~.icon::before {
    content: 'Menu';
}

ul {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 50px 20px;
    box-sizing: border-box;
    width: 300px;
    height: 100vh;
    background: black;
    transition: 0.5s;
    z-index: 100000;
    overflow-y: auto;
}

input[type="checkbox"]:checked~ul {
    left: -230px;
    /*thu MENU về*/
}

ul li {
    list-style: none;
}

ul li a {
    display: block;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    transition: 0.5s;
}

#H {
    margin: 0 0 0 155px;
    font-size: 25px;
}

#U {
    margin: 0 0 0 68px;
}

#M {
    margin: 0 0 0 40px;
}

#E {
    margin: 0 0 0 55px;
}

ul li a:hover {
    transform: translateX(20px);
    color: red;
    text-decoration: none;
}

section {
    position: relative;
    left: 170px;
    padding: 100px;
    box-sizing: border-box;
    transition: 0.5s;
}

input[type="checkbox"]:checked~section {
    left: 0;
}

section h2 {
    margin: 0;
    padding: 0;
    font-size: 30px;
    top: 20px;
}

html {
    scroll-behavior: smooth;
}

section h2 {
    text-align: center;
}